.browser-page {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100vh - 50px);
}

.browser-topbar {
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: scroll;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 14px;
    background-color: rgb(237, 236, 255);
}

.button-icon {
    max-width: 24px;
    max-height: 24px;
    margin: 0;
}

.post-search-bar{
    height: 26px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-style: solid;
    border-width: 1px;
    flex-grow: 1;
    padding-left: 15px;

    font-size: 20px;
}

.post-search-bar:focus{
    outline: none;
    border-color: rgb(17, 125, 207);
    box-shadow: inset 0 0 7px -2px #424242;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.search-button {
    height: 30px;
    width: 48.5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-left: none;
}

.create-post-button {
    height: 32px;
    width: 32px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#plus-icon {
    animation-duration: 0.2s;
}

.plus-to-x {
    animation: plus-to-x-anim;
}

.x-to-plus {
    animation: x-to-plus-anim;
}

@keyframes plus-to-x-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes x-to-plus-anim {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}